.App {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.column.nav {
    background-color: #F9F9FB;
    height: 100%;
}

.content-area {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .content-area {
      flex-direction: column;
    }
    .column {
      width: 100%;
    }
    .sidebar, .main-content {
      width: 100%;
      padding: 0;
    }
  }